body{
    font-family: Arial, sans-serif;
    background-color: rgb(179, 149, 149);
}

h1{
    text-align: center;
}
.imageCompte{
    width: 150px;
    height: auto;
}
form{
    width: 100%;
}
.contenerInput{
    display: flex;
    justify-content: space-around;
    
}
.contenerInput input{
    width: 100%;
    border-color: orange;
    border-radius: 30px;
    border-width: 10px;
}
.formGroupeG{
    width: 35%;
}
.formGroupeD{
    width: 35%;
}



/* body {
    font-family: Arial, sans-serif;
    background-color: rgb(179, 149, 149);
    text-align: center;

  }

  h1 {
    text-align: center;
  }

  form {
    width: 100%;
    margin-top: 20px;
  }

  label,
  input {
    display: block;
    margin-bottom: 05px;
    width: 50%;
    height: 5%;
    margin: 10px;
    padding: 10px;
    border-color: orange;
    border-radius: 30px;
    border-width: 10px;
    align-content: normal;
  }

  input[type="submit"] {
    margin-top: 10px;
    width: 100%;
  }

  .error-message {
    color: red;
  } */